In [2]:
import pandas as pd

In [3]:
salaryDataFile = 'SanFranciscoSalaries2011-2013.csv'

In [4]:
salaryData = pd.read_csv(salaryDataFile)

In [10]:
salaryData.head()

,Employee Name,Year,Employee ID,Job Title,Base Pay,Overtime Pay,Other Pay
0,A Bernard Fatooh,2011,29354,Sheriff'S Property Keeper,19969.37,0.0,70.54
1,Aaric Pingree,2011,72817,Carpenter,0.00,0.0,100.00
2,Aarom Peverill,2013,34121,Public Service Aide-Special Programs,3202.14,0.0,64.19
3,Aaron Obenyah,2012,105528,Publ Svc Aide-Asst To Prof,11577.00,0.0,0.00
4,Aaron Richmond,2011,109147,Public Svc Aide-Public Works,2175.41,0.0,46.36

In [6]:
salaryData.shape

(24285, 7)

In [7]:
salaryData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24285 entries, 0 to 24284
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Employee Name  24285 non-null  object
 1   Year           24285 non-null  int64
 2   Employee ID    24285 non-null  int64
 3   Job Title      24285 non-null  object
 4   Base Pay       24285 non-null  float64
 5   Overtime Pay   24285 non-null  float64
 6   Other Pay      24285 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 1.3+ MB

In [8]:
salaryData.describe()

,Year,Employee ID,Base Pay,Overtime Pay,Other Pay
count,24285.000000,24285.000000,24285.000000,24285.000000,24285.000000
mean,2012.010047,55309.756763,66061.492854,5036.355495,3725.260765
std,0.815644,32100.247256,42680.036186,11517.994545,8029.425852
min,2011.000000,7.000000,0.000000,0.000000,0.000000
25%,2011.000000,27390.000000,33114.520000,0.000000,0.000000
50%,2012.000000,55440.000000,64796.970000,0.000000,853.790000
75%,2013.000000,83139.000000,95015.860000,4657.550000,4312.110000
max,2013.000000,110529.000000,274126.500000,220909.480000,183112.410000